<form [formGroup]="carForm">
    <div>
      <label for="make-input">Make:</label>
      <input type="text" formControlName="make">
    </div>
    <div>
      <label for="model-input">Model:</label>
      <input type="text" formControlName="model">
    </div>
    <div>
      <label for="year-input">Year:</label>
      <input type="number" formControlName="year">
    </div>
    <div>
      <label for="color-input">Color:</label>
      <input type="text" formControlName="color">
    </div>
    <div>
      <label for="price-input">Price:</label>
      <input type="number" formControlName="price">
    </div>
    <button (click)="doSubmitCar()">Add Car</button>
  
  </form>